$tuna: #333344;
$beauty-brush: #eebbcc;
$texas-rose: #ffbb55;
$flax: #eecc88;
$porche: #eebb66;
$dolphin: #666677;
$slate-grey: #778899;
$cape-cod: #445555;
$steel-grey: #222233;
$almond: #eeddcc;
$santas-gray: #9999aa;
$titan-white: #eeeeff;
$storm-gray: #777788;
$gun-powder: #444455;
$pickled-bluewood: #334455;
$juniper: #779999;
$malta: #bbaa99;
$bone: #ddccbb;
$coral-reef: #ccbbaa;
