@import 'variables';
@import 'nav';
body {
  color: $texas-rose;
  background-color: $pickled-bluewood;
}

a:link {
  color: $cape-cod;
  background-color: $porche;
}

a:visited {
  color: $pickled-bluewood;
  background-color: $porche;
}

a:hover {
  color: $dolphin;
  background-color: $texas-rose;
}

a:active {
  color: $storm-gray;
  background-color: $flax;
}

header {
  color: $flax;
  background-color: $tuna;
  border-color: $dolphin;
}

.content {
  color: $steel-grey;
  background-color: $almond;
  border-color: $dolphin;
}

.content img {
  border-color: $malta;
  outline-color: $bone;
}

#imagegallery a {
  background-color: transparent;
}

th {
  color: $almond;
  background-color: $gun-powder;
}

tr td {
  color: $steel-grey;
  background-color: $porche;
}

tr.odd td {
  color: $steel-grey;
  background-color: $flax;
}

tr.highlight td {
  color: $steel-grey;
  background-color: $coral-reef;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 1em 10%;
  background-image: url(../img/background.gif);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat-x;
  max-width: 80em;
}

header {
  background-image: url(../img/guitarist.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
}

.content {
  border-width: .1em;
  border-style: solid;
  border-top-width: 0;
  padding: 2em 10%;
  line-height: 1.8em;
}

#about header {
  background-image: url(../img/lineup.gif);
}

#photos header {
  background-image: url(../img/basshead.gif);
}

#live header {
  background-image: url(../img/bassist.gif);
}

#contact header {
  background-image: url(../img/drummer.gif);
}

.content img {
  border-width: .1em;
  border-style: solid;
  outline-width: .1em;
  outline-style: solid;
}

#imagegallery li {
  display: inline;
}

#slideshow {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

img#frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  border-width: 0;
  outline-width: 0;
}

img#preview {
  position: absolute;
  border-width: 0;
  outline-width: 0;
}

dl {
  overflow: hidden;
}

dt {
  float: left;
}

dd {
  float: left;
}

label {
  display: block;
}

fieldset {
  border: 0;
}

td {
  padding: .5em 3em;
}

body {
  font-size: 76%;
  font-family: "Helvetica", "Arial", sans-serif;
}

body * {
  font-size: 1em;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.content {
  line-height: 1.8em;
}

.content p {
  margin: 1em 0;
}

h1 {
  font-family: "Georgia", "Times New Roman", sans-serif;
  font: 2.4em normal;
}

h2 {
  font-family: "Georgia", "Times New Roman", sans-serif;
  font: 1.8em normal;
  margin-top: 1em;
}

h3 {
  font-family: "Georgia", "Times New Roman", sans-serif;
  font: 1.4em normal;
  margin-top: 1em;
}

#imagegallery li {
  list-style-type: none;
}

dt {
  margin-right: 1em;
}

dd {
  margin-right: 3em;
}

textarea {
  font-family: "Helvetica", "Arial", sans-serif;
}
